@import '@styles/_axioline.scss';

.digitalIn {
    background-color: $axioline-module-function-digital-input;
}

.comboDigital{
    background-color: $axioline-module-function-digital-combo;
}

.digitalOut{
    background-color: $axioline-module-function-digital-output;
}

.analogIn{
    background-color: $axioline-module-function-analog-input;
}

.analogOut{
    background-color: $axioline-module-function-analog-output;
}

.specialFn{
    background-color: $axioline-module-function-special-function;
}

.pwr{
    background-color: $axioline-module-function-control-com-power;
}

.cardBase {
    width: 5mm;
    height: 10mm;
}