@import '@styles/_axioline.scss';

.root {
    position: relative;
    padding-top: .2mm;
    width: 9mm;
    height: 29mm;
    background-color: $axioline-grey;
}

.shadow{
    z-index: 2;
    position: absolute;
    width:  100%;
    height: 100%;
    top: 0px;
    left: 0px;
    box-shadow: inset 0mm 0mm 2mm 0px rgba(0, 0, 0, 0.75);
}