.container{
    height:4mm;
    width: 4mm;
    transform: rotate(90deg);
  }
  
  .edge{
      position: absolute;
      height:4mm;
      width: 4mm;
      background-color: #c8c8c8;
      border-radius: 1mm 1mm 1mm 1mm;
  }

  .edge_end{
      border-radius: 1.0mm 1.0mm 0mm 0mm;
  }
  
  .inset{
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      height: 3.5mm;
      width: 3.5mm;
      background-color: #adadad;
      border-radius: 1.0mm 1.0mm 1.0mm 1.0mm;
  }

  .inset_end {
    border-radius: 1.0mm 1.0mm 0mm 0mm;
  }
  
  .center_circle {
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 2.5mm;
      height: 2.5mm;
      border-radius: 1.25mm;
      background-color: rgb(122, 122, 122);
  }
  
  .terminal_center {
      position:relative;
      top:50%;
      left:50%;
      transform: translate(-50%,-50%);
      width: 2mm;
      height: 1mm;
      background-color: #000000;
  }

  .blackCover{
      position: relative;
      height: 100%;
      width: 100%;
      background-color: rgba(0,0,0,0.5);
      border-radius: 1mm 1mm 1mm 1mm;
  }

  .blackCover_end{
      border-radius: 1mm 1mm 0mm 0mm;
  }