.ventLower{
    width: 3mm;
    height: 3mm;
    background-color:  rgba(51,51,51,0.5);;
    box-shadow: inset 0px 4px 5px black;
}
.ventUpper{
    width: 3mm;
    height: 1.5mm;
    background-color:  rgba(51,51,51,0.5);;
    box-shadow: inset 0px 4px 5px black;
}

.brandArea{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2mm;
    align-items: center;
    height: 10mm;
    border-bottom: 0.5mm solid black;
    width: 100%;
}

.ventContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.inset{
    width: 100%;
    background-color: grey;
    margin-left: 0.5mm;
    box-shadow: inset 0 0 20px 3px black;
}

.labelBase{
    position: absolute;
    top: 7mm;
    background-color: white;
    height: 35mm;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.raisedContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.moduleBase{
    background-color: grey;
    height: 122.4mm;
    border: 0.1mm solid black;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.moduleTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 0 auto;
    border: 1px solid black;
}

.moduleMiddle{
    margin-left: 2mm;
    margin-top: 0.5mm;
    margin-right: 2mm;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.moduleBottom{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

.labelHorizontalLine{
    position: absolute;
    height: 0.1mm;
    border-top: 0.25mm solid black;
    margin-top: 6mm;
}

.labelArea{
    margin-right: 10mm;
    border-left: 0.25mm solid black;
}

.labelHolder{
    box-sizing: border-box;
    width: 100%;
    height: 40mm;
    border: solid grey 2mm;
    box-shadow: inset 0 0 13px 0px black, 0 1mm 1mm 0px black;;
    z-index: 2;
}

.printArea{
    margin-left: 2mm;
    display:flex;
    flex-direction: column;
    align-content: space-around;
}

.print{
    font-size: 2mm;
}

.labelText{
    font: normal normal 700 3mm Arial;
    margin-top: 2mm;
}

.labelVerticalLine{
    text-align: center;
}

.singleWidthMargin{
    width: 5mm;
}

.doubleWidthMargin{
    width: 10mm;
}

.logo{
    height: 6mm;
}