$color-pistachio:   #A0CA00;
$color-downriver:   #092346;
$color-neptune:     #7DADB9;
$color-waterloo:    #83839D;
$color-white:       #83839D;
$color-alto:        #D8D8D8;

$div-color-list: $color-pistachio,$color-downriver,$color-neptune,$color-waterloo,$color-white,$color-alto;

$width-min: 2;
$width-max: 40;

$frame-size: 400;

$transparency-background: 0.5;

$color-background-dark: $color-downriver;
$color-background-light: $color-alto;

:export {backgroundDark: $color-background-dark}
:export {backgroundLight: $color-background-light}

///takes a color and applies background transparency
@function applyBackgroundTransparency($color) {
    @return rgba($color,$transparency-background);
}


@function randomNum($min, $max) {
    $rand: random();
    $randomNum: $min + ($rand * (($max - $min) + 1));

    @return $randomNum;
}

.background > div {
    z-index: 1;
}

.foreground > div {
    z-index: 10;
}

.foreground{
    position: relative;
}

.background{
    overflow: hidden;
}

@for $i from 1 through 1000 {
    $size: randomNum($width-min,$width-max) + 0px;
    @warn "size: `#{$size}`.";
    $backgroundSize: randomNum($width-min,$width-max) + 0px;
    $num: randomNum(0,length($div-color-list));
    $color: nth($div-color-list,randomNum(1,length($div-color-list)));
    @warn "color: `#{$color}`.";
    $backgroundColor: applyBackgroundTransparency($color);
    .foreground-element-#{$i} {
      position: absolute;
      top: randomNum(-120,120) * 1vh;
      left: randomNum(-120,120) * 1vw;
      height: $size;
      width:  $size;
      background-color: $color;
    }
    .background-element-#{$i} {
        position: absolute;
        top: randomNum(-120,120) * 1vh;
        left: randomNum(-120,120) * 1vw;
        filter: blur(5px);
        height: $backgroundSize;
        width:  $backgroundSize;
        background-color: $backgroundColor;
        box-shadow: 0 0 5px 10px rgba($color,0.2);
      }
  }