.label{
    color: #6d4444;
    font-size: 2.5mm;
}

.row{
 height: 3mm;
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.ledContainer{
    padding-top: 0.5mm;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0.5mm;
}

.labelContainer{
    padding-top: 0.15mm;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0.5mm;
    width: 50%;
    height: 100%;
}

.rootContainer{
    width: 5mm;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}