.col{
    flex: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 5mm;
}

.connector-middle {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: gray;
}
.connector{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: center;
}

.blackConnector{
    background-color: black;
}