.col{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 5mm;
}

.connector {
    display: inline-block;
    background-color: gray;
}

.blackConnector{
    background-color: black;
}