.col{
    flex: initial;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 5mm;
}

.connector {
    display: inline-block;
    /* flex-direction: row;
    align-content: center; */
    background-color: gray;
}

.blackConnector{
    background-color: black;
}