@import '@styles/_axioline.scss';

.root {
    font-size: 2mm;
    height: 125mm;
    background-color: $axioline-grey;    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.partText {
    position: relative;
    width: 5mm;
    height: 24mm;
}

.textFormat{
    position: absolute;
    transform-origin: 0 0;
    transform: rotate(-90deg);
    bottom: 0px;
    left: 0px;
    height: 5mm;
    width: 24mm;
}

.moduleArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.leftArea {
    padding-top: 4mm;
    padding-bottom: 7mm;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10mm;
    height: 114mm;
}