.receptacle{
    width:  4mm;
    height: 5mm;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pin{
    width: 1mm;
    height: 0.25mm;
    background-color: gold;
}