.led_base {
    background-color: #494D3E;
    height: 2mm;
    width: 1mm;
    border-radius: 0.25mm;
}

.error {
    background-color: #F02F42;
    box-shadow: 0 0 0.1mm 0 #F02F42;
}

.active {
    background-color: #5EF300;
    box-shadow: 0 0 0.1mm 0 #5EF300;
}

.warning {
    background-color: #FFFF04;
    box-shadow: 0 0 0.1mm 0 #FFFF04;
}