.rootContainer{
    box-shadow: 0 -0.2mm 0.1mm -0.1mm grey;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 5mm;
    height: 10mm;
}

.label {
    color: #6d4444;
    font-size: 2mm;
}

.labelContainer{
    width: 50%;
}

.pinHole {
    margin-left: 0.5mm;
    width: 0.75mm;
    height: 0.75mm;
    border-radius: 100%;
    background-color: black;
}
.pinHoleContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.terminalContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5mm;
    width: 100%;
}

.plungerContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pinLabelContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}