.base {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.flexCenter {
    justify-content: center;
}